<div class="picker-wrapper">
  <span class="selected-highlight"></span>
  <div class="picker-container">
    <div class="title">{{title}}:<span
      *ngIf="!!selectedObject">{{!!displayAttributeName ? selectedObject[displayAttributeName] : selectedObject }}</span>
    </div>
    <div class="picker-content-wrapper">
      <div class="picker-content" (scroll)="handleLevelScroll($event)">
        <ul class="picker-list">
          <li class="item" (click)="scrollTo(i, $event)"
              *ngFor="let item of data; let i = index;">
            <span>{{!displayAttributeName ? item : item[displayAttributeName]}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
